{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}

<div class="container">
  <h1>Welcome to the Sound Sense</h1>
  <p>This is the content of the home page.</p>
  <p id="Status"></p>
  <div class="buttons">
    <button id="startBtn" type="submit" onclick="handleButtonClick()">
      Start Speaking
    </button>
    <button id="stopBtn" onclick="stopLoop()">Stop</button>

    <button id="startButton">Start Voice Input</button>
    <div id="output"></div>

    <!-- doesnot support anymore. chrome, firefox, webkit supported browser -->
    <!-- <input type="text" x-webkit-speech /> -->
  </div>

  <div class="outputs">
    <textarea id="response" rows="10" cols="50"></textarea>
    <textarea id="output" rows="10" cols="50"></textarea>
  </div>
</div>

<script>
  function handleButtonClick() {
    fetch("/voice-start", {
      // Ensure fetch is used correctly
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json()) // Parse JSON response
      .then((data) => {
        if (data.success) {
          document.getElementById("Status").innerText = "Recording in Progress";
          document.getElementById("response").value =
            "New Recording in Progress";
          startStream();
          console.log(data.transcript);
        } else {
          document.getElementById("Status").innerText = "Something went wrong";
        }
      })
      .catch((error) => console.error("Error:", error)); // Catch any errors
  }

  function stopLoop() {
    fetch("/voice-end", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("response").value = data.transcript;
        document.getElementById("Status").value = "Recording Completed";
        console.log(data.transcript);
        console.log(data.transcript);
      })
      .catch((error) => console.error("Error:", error));
  }
  function startStream() {
    const eventSource = new EventSource("/stream");
    eventSource.onmessage = function (event) {
      const textarea = document.getElementById("response");
      console.log;
      textarea.value += data.transcript + "\n";
      textarea.scrollTop = textarea.scrollHeight; // Scroll to the bottom
    };
  }
</script>

{% endblock %}
